<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>StatuTableView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D5228B041D5D97A3008E2ECF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5228B1D1D5D97A4008E2ECF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5228B281D5D97A4008E2ECF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
